# Ignore private SSH keys and related credentials
keys/
*.pem
*.pub
.ssh/
id_rsa
id_rsa.pub
credentials/

# Ignore variable files
.env
*.env
hosts.yml
playbooks/vars/*
!playbooks/vars/*.sample

# Ignore cached Ansible facts
*.retry
*.log
.cache/
*.pyc
__pycache__/

# Ignore Ansible Vault encrypted files (if any)
*.vault.yml
*.vault
secrets.yml

# Ignore temporary files
*.swp
*.bak
*.tmp
.DS_Store

# Ignore package dependencies (if using Python for Ansible modules)
venv/
__pycache__/
*.egg-info
pip-log.txt


# Ignore vagrant files
.vagrant/