<!DOCTYPE html>
<html>
    <head>
        <title>Service {{ item.name }}</title>
    </head>
    <body>
        Currently Serving {{ item.name }} at {{ item.path }} through {{ item.domain }}
    </body>
</html>